@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Conv_GE SS Two Medium';
	src: url('../fonts/GE SS Two Medium.eot');
	src: local('☺'), url('../fonts/GE SS Two Medium.woff') format('woff'), url('../fonts/GE SS Two Medium.ttf') format('truetype'), url('../fonts/GE SS Two Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body{
	overflow-x:hidden !important;
	padding:0px !important;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'Conv_GE SS Two Medium';
	direction:rtl;
	overflow-x:hidden !important;
}
input[type="email"],#log_password{
		font-family:sans-serif !important;
}
.ar_font, .ar_font a,#photo_descr,#locality,.upload-title p,.upoad-btn{
	font-family: 'Conv_GE SS Two Medium' !important;
}
.navigation_bar{
	position:relative;
	z-index:999;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(196,194,196,1);
	-moz-box-shadow: 1px 1px 3px 2px rgba(196,194,196,1);
	box-shadow: 1px 1px 3px 2px rgba(196,194,196,1);
}
.navigation_menu{
	width:68%;
	float:left;
}
.navigation_menu ul li{
	display:inline-block;
	line-height:73px;
	list-style:none;
	position:relative;
}
.navigation_menu ul li a{
	text-decoration:none;
	font-family: 'Conv_GE SS Two Medium';
	font-size:18px;
	padding:4px 20px;
	color:#000;
	border-left:1px solid #000;
	outline:none;
}
.logo_section{
	width:32%;
	float:left;
	height:90px;
	position:relative;
	z-index:2;
}
.no-border{
	border-left:0px !important;
}
.logo img{
	 -webkit-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
}	
.instagram_widget{
	padding:10px;
	border:1px solid #ccc;
}
.ckhed{
	width:100%;
	height:300px;
	background:#933;
}
.twitter_tweets{
	margin-bottom:20px;
}
.twitter_tweets img{
	width:100%;
}
.social_account_section{
	margin-top:55px;
	margin-bottom:55px;
}
.footer{
	width:100%;
	height:auto;
	background:#1c1d22;
	padding:20px 0px;
}
.footer_nav ul{
	line-height:18px;
	margin-top:0px;
	padding:0px;
}
.footer_nav ul li{
	display:inline-block;
	line-height:18px;
	list-style:none;
}
.footer_nav ul li+li{
	padding:0px 15px;
}
.footer_nav ul li a{
	font-size:14px;
	text-decoration:none;
	color:#aaaaaa;
	vertical-align:middle;
	font-weight:lighter;
	outline:none;
}
.copy_rights p {
  color: #aaaaaa;
  direction: ltr;
  font-size: 13px;
  font-weight: 200;
  margin-bottom:0px;
  font-family: 'Roboto', sans-serif;
}
.footer_social_connects{
	font-family: 'Roboto', sans-serif;
	line-height:16px;
	display:inline-block;
}
.website_support{
	font-size:10px !important;
}
.footer_social_connects a{
	direction:ltr !important;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	display:inline-block;
	width:32px;
	height:32px;
	border:3px solid #fff;
	text-align:center;
}
.footer_social_connects a i{
	line-height:26px;
}
.banner-sec{
	position:relative;
}
.banner-sec>img{
	display:inline-block;
	min-width:100% !important;
	max-width:inherit !important;
	height:100%;
}
.nav_section_slides{
	position:absolute;
	width:100%;
	height:100%;
	padding:50px;
	right:0;
	top:0;
	background:rgba(255,255,255,0.9);
	z-index:7;
	overflow:hidden;
	
	-webkit-transition:0.6s linear;
	-moz-transition:0.6s linear;
	-o-transition:0.6s linear;
	-ms-transition:0.6s linear;
	transition:0.6s linear;
	
	-webkit-transform: translate3d(110%, 0, 0);
	-moz-transform: translate3d(110%, 0, 0);
	-ms-transform: translate3d(110%, 0, 0);
	-o-transform: translate3d(110%), 0, 0;
	transform: translate3d(110%, 0, 0);
}
.nav_toggle{
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.nav_roogle_left{
	-webkit-transform: translate3d(-110%, 0, 0);
	-moz-transform: translate3d(-110%, 0, 0);
	-ms-transform: translate3d(-110%, 0, 0);
	-o-transform: translate3d(-110%, 0, 0);
	transform: translate3d(-110%, 0, 0);
}
.nav_section_slides p {
  color: #000;
  font-size: 15px;
  line-height: 22px;
}
.nav_section_slides h1{
	margin-bottom:20px;
}
.container-alt{
	width:900px;
}
.map-section{
	position:relative;
	display:inline-block;
	float:left;
}
.map-markers {
  background: rgba(0, 0, 0, 0) url("../images/map-market.png") no-repeat scroll center center;
  height: 47px;
  position: absolute;
  width: auto;
  vertical-align:middle;
}
.abudhabi {
  left: 379px;
  padding-right: 90px;
  top: 237px;
}
.dubai {
  left: 449px;
  padding-right: 90px;
  top: 165px;
}
.sharjah {
  left: 484px;
  padding-right: 90px;
  top: 124px;
}
.ajman {
  left: 531px;
  padding-right: 90px;
  top: 85px;
}
.ummulquym {
  left: 550px;
  padding-right: 100px;
  top: 48px;
}
.rasalkaimah {
  left: 623px;
  padding-right: 90px;
  top: -11px;
}
.fujairah {
  padding-left: 90px;
  right: -53px;
  top: 99px;
}
.emirites {
  display: inline-block;
  margin-top: 14px;
  vertical-align: calc(6px);
}
.alt-width-cont{
	width:1200px;
}
.popup-map {
  background: #fff none repeat scroll 0 0;
  height: 151px;
  left: -55px;
  position: absolute;
  top: -144px;
  width: 233px;
  z-index:999;
  padding:5px;
  display:none;
  cursor:pointer;
  
	-webkit-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
}
.img-sec-pop {
  display: block;
  height: 141px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.img-sec-pop img{
	width:100%;
	min-height:100%;
}
.arw{
	width:21px;
	height:12px;
	background:url('../images/arrow-down.png') no-repeat center center;
	position:absolute;
	bottom:-12px;
	left:50%;
	margin-left:-10px;
	
}
.popup-map-alt {
  background: #fff none repeat scroll 0 0;
  box-shadow: 1px 1px 5px 0 rgba(196, 194, 196, 1);
  display: none;
  height: 151px;
  position: absolute;
  right: 88px;
  top: -34px;
  width: 233px;
  z-index: 999999;
}
.arw-alt {
  background: rgba(0, 0, 0, 0) url("../images/arrow-right1.png") no-repeat scroll center center;
  height: 12px;
  margin-left: -10px;
  position: absolute;
  right: -14px;
  top: 47px;
  width: 21px;
}
.shadow{
	position:absolute;
	width:100%;
	height:86px;
	background:url('../images/shadow.png') no-repeat center bottom;
	left:0;
	bottom:0;
	z-index:9999;
}
.info-pop{
	position:absolute;
	bottom:5px;
	right:10px;
}
.emiritesz, .membercount{
	color:#fff !important;
	margin-bottom:0px;
}
.emiritesz{
	font-size:15px !important;
}
.membercount{
	font-size:13px !important;
}
.dismiss{
	position:absolute;
	left:5px;
	top:5px;
	font-size:16px;
	cursor:pointer;
}
.registration_section{
	width:350px;
	float:right;
	height:aauto;
	margin-top:100px;
}
.registration_section a{
	text-decoration:none;
	padding:10px 30px;
	font-size:24px;
	background:#008438;
	color:#fff;
	display:inline-block;
	margin-top:20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
}
.registration_section a i{
	vertical-align:middle;
	margin-right:5px;
}
.modal-dialog{
	z-index:9999999;
}
.modal-backdrop.in{
	display:none !important;
}
.modal{
	z-index:99999999 !important;
	background:rgba(0,0,0,0.5);
	left:0;
}
.modal-header{
	background:#000;
	overflow:hidden;
}
.modal-header h4{
	color:#fff;
}
.modal-header .close{
	float:left;
	color:#fff !important;
	opacity:1;
}
.close1 {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
  padding: 5px;
}
.modal-content{
	overflow:hidden;
}
.form-group .form-control{
	box-shadow:0px;
	font-weight:300;
	font-size:12px;
}
.form-group .form-control:focus{
	border:1px solid #ccc;
	box-shadow:none;
}
.form-group label{
	font-weight:300;
}
.login{
	background:#008438;
	display:block;
	border:0px;
}
.login:hover, .login:focus{
	background:#008438;
}
.register_new{
	text-align:center;
	padding:20px;
}
.register_new a {
  background: #e6001c none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 9px 30px;
  text-decoration: none;
}
.modal-body a{
	text-decoration:none;
	color:#000;
	margin-bottom:5px;
	display:inline-block;
	font-weight:300;
	font-size:12px;
	float:left;
}
#uploadPreview1 {
	width: 150px;
	height: 140px;
	border:1px solid #ccc;
}
#uploadImage1 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.profie-pics{
	position:relative;
	display:inline-block;
}
.fileUpload {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.margin-it{
	margin-top:20px;
}
.go_on{
	text-decoration:none;
	display:block;
	color:#fff;
	font-size:20px;
	position:absolute;
	left:10px;
	bottom:10px;
}
.go_on:hover,.go_on:focus{
	color:#fff;
	outline:none;
}
.margin-me p{
	margin-top:50px;
}
.map_load{
	
}
.new_body{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow:hidden;
}
.loading{
	background:url('../images/32.gif') no-repeat center center;
}
.grid{
	margin-top:20px;
}
.grid-item{
	margin-bottom:20px;
	
}
.item-sec{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	margin-bottom:5px;
}
.grid-item img{
	min-width:100%;
}
.title_info{
	direction:ltr;
	text-align:right;
	width:100%;
	border:1px solid #e3e3e3;
	background:#fff;
}
.title{
	padding:15px 5px;
	border-bottom:1px solid #e3e3e3;
}
.user-details{
	padding:5px;
	overflow:hidden;
}
.title h3,.user_info_name h3, .user_info_name h3 a{
	font-size:13px;
	margin:0px;
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize !important;
	color:#333333;
}
.img-sec-user{
	width:40px;
	height:40px;
	overflow:hidden;
	float:right;
}
.user_info_name{
	float:right;
	margin-right:10px;
	width:82%;
}
.user_info_name p, .user_info_name p a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#a3a4a4;
}
.user_info_name p i{
	margin-left:5px;
}
.clickable {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.flag_video{
	width:100%;
	height:300px;
	background:#fff;
	padding:10px;
	overflow:hidden;
	position:relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
	box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
}
.head_video{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:9;
	padding:10px;
}
.head_video h3, .nav h3{
	margin:0px;
	font-size:20px;
}
.log_section_flag {
  margin-top: 20px;
}
.red_div{
	width:100%;
	height:100px;
	background:#e5001c;
	margin-top:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	padding:20px;
}
.red_div p{
	font-size:20px;
	color:#fff;
}
.red_div .eng{
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
}
.logo-flag{
	direction:ltr;
}
.upside {
  margin-top: 77px;
}
.video_flags {
  display: inline-block;
  height: 60%;
  overflow: hidden;
  width: 70%;
  margin-right:15%;
}
.guide_lines{
	border:1px solid #ccc;
	padding:20px;
	margin-top:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	background:#fff;
}
.guide_info h4{
	color:#e5001c;
}
._differ_bg{
	background:#f4f4f4;
}
.profile_section{
	margin-top:30px;
	position:relative;
}
.top_profile{
	background:#fff;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	position:relative;
	z-index:99 !important;
}
.profile_container{
	border-left:1px solid #ccc;
	height:190px;
	position:relative;
}
.no-border{
	border-left:0px;
}
.user-info_profile{
	font-family: 'Montserrat', sans-serif;
	padding:10px;
}
.user-info_profile h3, p{
	margin:0px;
}
.user-info_profile h3{
	font-size:14px;
	margin-bottom:10px;
}
.user-info_profile p{
	font-size:12px;
	line-height:16px;
	color:#a3a4a4;
}
.profile_image{
	width:100%;
	height:110px;
	overflow:hidden;
	margin:10px 10px 0px 0px;
}
.profile_image img{
	width:100%;
	min-height:auto;
}
.profile_red h3{
	margin:0px;
	color:#fff;
}
.profile_red{
	height:auto;
	margin:0px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
}

.drag-upload {
  height: 71px;
  margin-top: 0px;
  position: absolute;
  width: 204px;
  top:40px;
  left:50%;
  margin-left:-85px;
}
.left-shadow {
  left: -19px;
  position: absolute;
}
.right-shadow {
  position: absolute;
  right: -19px;
}
.cloud {
  left: 50%;
  margin-left: -46px;
  position: absolute;
  top: -30px;
}
.upload-title {
  margin-top: 50px;
}
.drag-upload p {
  margin: 0;
  font-size:12px;
  direction:ltr;
}
.custom-upload {
	font-family: 'Montserrat', sans-serif;
}
.custom-upload input[type="file"] {
  border: medium none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  outline: medium none;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 2;
}
.drag {
  color: #b1b1b1;
}
.selectedfile{
	width:100%;
	margin:auto;
	height:30px;
	position:absolute;
	top:0;
	line-height:30px;
	z-index:2;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	background:#cecece;
	color:#000;
	font-weight:300;
	direction:ltr;
	
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	
	-webkit-transition:0.6s linear;
	-moz-transition:0.6s linear;
	-o-transition:0.6s linear;
	-ms-transition:0.6s linear;
	transition:0.6s linear;
}
.translateUp{
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform:  translate3d(0, -100%, 0);
	-ms-transform:  translate3d(0, -100%, 0);
	-o-transform:  translate3d(0, -100%, 0);
	transform:  translate3d(0, -100%, 0);
}
.upoad-btn {
  background: #f5f5f5 none repeat scroll 0 0;
  border-color: #ccc;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  width: 100px;
  font-size:11px;
  margin-top:5px;
}
.img-sec-masnory{
	position:relative;
}
.edit_delete{
	position:absolute;
	width:20px;
	height:20px;
	background:#fff;
	top:10px;
	right:10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	display:inline-block;
	padding-top:3px;
	cursor:pointer;
	display:none;
}
.img-sec-masnory:hover .edit_delete{
	display:block;
}
.contact_us{
	background:#fff;
	padding:50px;
	margin-top:50px;
	
	-webkit-box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
	box-shadow: 2px 2px 5px 0px rgba(167,167,167,1);
}
.contact_head{
	margin-bottom:50px;
}
.download_pdf{
	background:#118337;
	height:auto;
	width:100%;
	margin-top:20px;
	padding:20px;
	height:100px;
	text-align:center;
}
.download_pdf a {
  background: #fff none repeat scroll 0 0;
  color: #000;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}
.container-alt-new{
	position:relative;
}
.header-subpage {
  overflow: hidden;
}
.locations{
	margin-top:10px;
	margin-bottom:10px;
	direction:ltr;
	font-family: 'Montserrat', sans-serif;
}
.submit_contact{
	background:#118337;
	color:#fff;
	font-weight:bold;
	font-size:20px;
	box-shadow:none;
	border:none;
	padding:4px 20px;
}
.navigation_menu ul li ul {
  background: #fff none repeat scroll 0 0;
  position: absolute;
  top:50px;
  width: 100%;
  padding:0px;
  padding-top:40px;
}
.navigation_menu ul li ul li{
	padding: 10px;
	display:block;
	line-height:20px;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #f1f1f1;
	display:none;
}
.navigation_menu ul li ul li a{
	border-left:0px;
	font-size:14px;
}
.navigation_menu ul li:hover ul li{
	display:block;
}
.agree_terms{
	padding:10px;
}
.agree_terms p{
	font-size:12px;
	color:#a3a4a4;
}
.logout{
	color:#00742D;
	text-decoration:none;
}
.logout:hover{
	color:#333333;
	text-decoration:none;
}
.upload_preloader{
	text-align:center;
	margin-top:30px;
	display:none;
}
.videoIcon{
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	color: #444;
	cursor: pointer;
	height: 21px;
	left: 10px;
	line-height: 24px;
	padding: 0 6px;
	position: absolute;
	top: 10px;
	width: 27px;
}
.emirateHead{
	font-size:22px;
	margin-top:0px !important;
	text-align:center;
}
.language_switch {
  display: inline-block;
  margin-right: 3px;
  position: absolute;
  right: 70%;
  top: 30px;
}
.language_switch a {
  border: 1px solid #ccc;
  color: #000;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  line-height: 16px;
  padding: 5px;
  text-decoration: none;
}
/*modfied sections */
.background_div{
	width:100%;
	background:no-repeat top left;
	background-size:auto 100%;
	position:relative;
}
.background_div_new{
	width:100%;
	height:auto;
	background:no-repeat top left;
	background-size:auto 100%;
	background-attachment:fixed;
	position:relative;
}
.white_overlay{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.8);
	padding:50px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.white_overlay_new{
	position:relative;
	width:100%;
	height:auto;
	background:rgba(255,255,255,0.8);
	padding:50px;
}
.container.container-alt > p {
  font-size: 16px;
}
.userprof .profile_container{
	height:auto;
}
.logo_sec{
	margin-top:20px;
	background:#fff;
	padding:25px 0px 0px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
	
	-webkit-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
	box-shadow: 1px 1px 5px 0px rgba(196,194,196,1);
}
.logo_sec h3{
	padding:5px 20px;
	margin:0px;
}
.download_share{
	background:#008438;
	margin-top:30px;
	padding:10px 0px;
}
.download_share a{
	outline:none;
	text-decoration:none;
	color:#fff;
	font-size:20px;
	display:inline-block;
	margin:0 10px 0px;
	padding:5px 15px;
	border-radius:3px;
	border:1px solid #fff;
}
.padding_it{
	padding:0px 20px;
}
#viewer{
	background:#fff !important;
}
.Edit {
  color: #000;
  margin-left: 13px;
  text-decoration: none;
}
.#uploadImage1{
	cursor:pointer !important;
}
.profie-pics::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  content: "حمل الصورة";
  height: 15%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size:11px;
  color:#fff;
}
.nothingfound{
	width:100%;
	height:450px;
	background:url('../images/no_uploads.png') no-repeat center center rgba(255,255,255,0.9);
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
	
	-webkit-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
}
.noifyError{
	display:bock;
	position:absolute;
	right:-4px;
	top:26px;
	display:none;
}
.popover{
	direction:ltr;
}
.popover-content{
	font-size:12px;
}
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
#pop_contents{
	display:none;
}
.socialshare{
	z-index:999 !important;
}
.whitie{
	background:#fff;
	margin-top:20px;
}
#infscr-loading{
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  color: #fff;
  margin:10% auto 0 !important;
  padding: 15px 10px !important;
  position: relative;
  width: 171px;
  z-index: 9999999;
  text-align:center;
}
#infscr-loading img{
	width:32px !important;
	height:32px !important;
	margin:0 auto !important;
}
#submit_contact_us label{
	font-size:14px;
}
.bootstrap-filestyle .form-control {
  border-bottom-left-radius: 0;
  border-left: 0 none;
  border-top-left-radius: 0;
}
.bootstrap-filestyle .btn{
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
	border-top-left-radius:3px !important;
	border-bottom-left-radius:3px !important;
}
#html5-lightbox{
	overflow-y:scroll;
	overflow-x:hidden;
}
#html5-lightbox-overlay{
	position:fixed !important;
}
#html5-elem-box{
	margin-bottom:20px !important;
}
.fontSans{
	font-family: sans-serif !important;
}
.btn.loginReg{
	background:#008438 !important;
}
.mobile_app{
 display:inline-block;
 margin-right:10px;
}
.mobile_app a{
 margin-left:5px;
}

@media (min-width: 1024px) and (max-width: 1440px){
	.user_info_name{
		width:73% !important;
	}
	.grid-item{
		width:25% !important;
	}
}
@media (min-width: 1200px){ 
	.col-lg-sp-9{
		width:847px;
	}
	.col-lg-sp-3{
		width:315px;
	}
	.col-lg-sp-5{
		width:20%;
	}
	.container-alt-new{
		width:1170px;
	}
	.container_contact_inside{
		width:800px;
	}
	.user_info_name {
	  width: 76%;
	}
	.background_div{
	background-size:100% 100%;
	}
}
@media (max-width: 1200px){ 
	.instagram_widget, .facebook_updates{
		margin-bottom:10px;
	}
}
@media (max-width: 1200px){
	.navigation_bar{
		position:relative;
	}
	.navigation_menu{
		position:fixed;
		background:#fff;
		z-index:9;
		height:100%;
		top:0;
		right:-100%;
		
		-webkit-transition:0.5s ease;
		-moz-transition:0.5s ease;
		-o-transition:0.5s ease;
		-ms-transition:0.5s ease;
		transition:0.5s ease;
	}
	.navigation_menu ul li{
		display:block;
		border-bottom:1px solid #ccc;
		padding:0px 10px;
	}
	.navigation_menu ul{
		padding:0px;
	}
	.navigation_menu ul li a{
		font-size:15px;
		padding:0px;
		border-left:0px;
	}
	.mobil_menu{
		position:absolute;
		font-size:28px;
		bottom:10px;
		right:20px;
		cursor:pointer;
	}
	.logo{
		margin-left:20px;
	}
	.activeMenu{
		right:0;
	}
	._close {
	  cursor: pointer;
	  font-size: 15px;
	  left: 10px;
	  padding: 10px;
	  position: absolute;
	  z-index: 999;
	}
	.banner-sec{
		position:static;
	}
	.nav_section_slides{
		width:100%;
		height:100%;
		right:0;
		left:0;
		padding:10px;
		z-index:999999;
		background:#fff;
		position:fixed;
		
		-webkit-transition:0.2s linear;
		-moz-transition:0.2s linear;
		-o-transition:0.2s linear;
		-ms-transition:0.2s linear;
		transition:0.2s linear;
	}
	.container-alt{
		width:100% !important;
	}
	
	.navigation_menu ul li ul {
		position:relative;
		padding-top:0px;
		top:0;
	}
	.navigation_menu ul li ul li{
		display:block;
	}
	.contact_us{
		padding:10px;
	}
	.white_overlay{
		padding:10px;
	}
}
@media (max-width: 600px){
	.grid-item{
		width:100%;
	}
	.user-info_profile{
		text-align:center;
	}
	.profile_image{
		margin:auto;
	}
	.banner-sec > img{
		position:relative;
	}
	.alt-width-cont{
		direction:ltr;
		width:300px;
	}
	.map-section,.registration_section{
		float:none;
		width:100%;
	}
	.map-markers:nth-of-type(1){
		margin-top:20px;
	}
	.map-markers{
		position:static;
		display:block;
		padding:0px;
		background-image:none;
		text-align:center;
		background:#000;
		color:#fff;
		margin-bottom:10px;
	}
	.registration_section a{
		font-size:16px;
	}
	.popup-map{
		left:10% !important;
		top:8% !important;
	}
	.download_pdf a{
		position:static;
		margin:0;
		font-size:16px;
	}
	.close1 {
	  cursor: pointer;
	  font-size: 20px;
	  margin-left: 13px;
	  margin-top: 16px;
	}
	.registration_section{
		text-align:center;
	}
	.user_info_name{
		width:80%;
	}
	.language_switch {
	  right: -80%;
	}
	.logo_section{
		height:65px;
	}
	.language_switch{
		top:20px;
	}
	.footer_nav ul li{
		display:block;
		padding:0px !important;
	}
	.copy_rights p {
		text-align:right;
	}
	.mobile_app{
		margin-right:0px;
		margin-top:10px;
	}
	.mobile_app a{
		margin-left:5px;
	}
}
@media (min-width: 600px) and (max-width: 1190px){
	.grid-item{
		width:50%;
	}.banner-sec > img{
		position:relative;
		left:833px;
	}
	.language_switch{
		right:-15%;
	}
	.language_switch{
		top:auto;
		bottom:20px;
	}
	.map-markers:nth-of-type(1){
		margin-top:20px;
	}
	.map-markers{
		position:static;
		display:block;
		padding:0px;
		background-image:none;
		text-align:center;
		background:#000;
		color:#fff;
		margin-bottom:10px;
	}
	.registration_section a{
		font-size:16px;
	}
	.popup-map, .popup-map-alt {
	  left: 40% !important;
	  top: 20% !important;
	}
	.map-section, .registration_section{
		float:none;
		display:block;
	}
	.alt-width-cont{
		width:auto;
	}
	.profile_section{
		margin-top:50px;
	}
	.no-border{
		border:0px !important;
	}
	.profile_container{
		border-left:0px;
		height:auto;
		margin-top:20px;
		border:1px solid #ccc;
		margin-bottom:10px;
	}
}

